body{
    background-image: url(../image/backGround.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#searchHero{
    display: block;
    width: 16%;
    /* height: 3rem; */
    margin: 0 auto;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: black;
    padding-left: 2%;
    background-color: whitesmoke;
}
#main-heading{
    text-align: center;
    font-size: 1.6rem;
    border: 2px solid black;
    background-color:rgb(174, 161, 161);
    padding: 5px;
    
    margin: 10px auto;
    height: fit-content;
    width: 15%;
    color: rgb(17, 10, 10);
    text-decoration:wavy
    
}

.image-size{
    width: 100px;
    height: 70px;
    margin-left: 2rem;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    overflow: scroll;
    /* height: 60vh;
    width: 50%; */
    margin: 0 auto;
    background-color: white;
}
::-webkit-scrollbar{
    display: none;
}


ul li{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 6rem;
    outline: none;
    border: none;
    background-color: brown;
    color: white;
}
#delFav{
    color: red;
    font-size: 25px;
}
#delFav:hover{
    cursor:pointer;
}
#addFav:hover{
    cursor:pointer;
}
#addFav{
    font-size: 25px;
    color: rgb(28, 7, 7);
}
.search-item a{
    width: 60%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
